<div class="container">
    <div class="wrapper">

        <div class="headers">
            <h1 class="title">Latest Stock News</h1>

            <div class="dropdown">
                <button class="dropbtn">Readdle</button>
                <div class="dropdown-content">
                    <a href="#">Softserve</a>
                    <a href="#">Apple</a>
                    <a href="#">Microsoft</a>
                </div>
            </div>
        </div>

        <div class="one-liner">
            <div class="extras">
                <p class="publisher">The Washington Post</p>
                <p class="time">12/08/2024</p>
            </div>
            <div class="novation">
                <img class="thumbnail"
                    src="https://s.yimg.com/uu/api/res/1.2/6b7RAUTD39Q.IDCr_O0uPQ--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/techcrunch_350/9e20df6ad4b1e0c74b78df88ad84fa9d"
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium earum officiis.
                    Deserunt
                    repellat quia enim deleniti blanditiis doloremqu</p>
            </div>
        </div>

        <div class="one-liner">
            <div class="extras">
                <p class="publisher">The Washington Post</p>
                <p class="time">12/08/2024</p>
            </div>
            <div class="novation">
                <img class="thumbnail"
                    src="https://s.yimg.com/uu/api/res/1.2/6b7RAUTD39Q.IDCr_O0uPQ--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/techcrunch_350/9e20df6ad4b1e0c74b78df88ad84fa9d"
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium earum officiis.
                    Deserunt
                    repellat quia enim deleniti blanditiis doloremqu</p>
            </div>
        </div>

        <div class="one-liner">
            <div class="extras">
                <p class="publisher">The Washington Post</p>
                <p class="time">12/08/2024</p>
            </div>
            <div class="novation">
                <img class="thumbnail"
                    src="https://s.yimg.com/uu/api/res/1.2/6b7RAUTD39Q.IDCr_O0uPQ--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/techcrunch_350/9e20df6ad4b1e0c74b78df88ad84fa9d"
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium earum officiis.
                    Deserunt
                    repellat quia enim deleniti blanditiis doloremqu</p>
            </div>
        </div>

        <div class="one-liner">
            <div class="extras">
                <p class="publisher">The Washington Post</p>
                <p class="time">12/08/2024</p>
            </div>
            <div class="novation">
                <img class="thumbnail"
                    src="https://s.yimg.com/uu/api/res/1.2/6b7RAUTD39Q.IDCr_O0uPQ--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/techcrunch_350/9e20df6ad4b1e0c74b78df88ad84fa9d"
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium earum officiis.
                    Deserunt
                    repellat quia enim deleniti blanditiis doloremqu</p>
            </div>
        </div>

        <div class="one-liner">
            <div class="extras">
                <p class="publisher">The Washington Post</p>
                <p class="time">12/08/2024</p>
            </div>
            <div class="novation">
                <img class="thumbnail"
                    src="https://s.yimg.com/uu/api/res/1.2/6b7RAUTD39Q.IDCr_O0uPQ--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/techcrunch_350/9e20df6ad4b1e0c74b78df88ad84fa9d"
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium earum officiis.
                    Deserunt
                    repellat quia enim deleniti blanditiis doloremqu</p>
            </div>
        </div>

        <div class="one-liner">
            <div class="extras">
                <p class="publisher">The Washington Post</p>
                <p class="time">12/08/2024</p>
            </div>
            <div class="novation">
                <img class="thumbnail"
                    src="https://s.yimg.com/uu/api/res/1.2/6b7RAUTD39Q.IDCr_O0uPQ--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/techcrunch_350/9e20df6ad4b1e0c74b78df88ad84fa9d"
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae praesentium earum officiis.
                    Deserunt
                    repellat quia enim deleniti blanditiis doloremqu</p>
            </div>
        </div>


        <div class="read-more">
            <button>Read More</button>
        </div>
    </div>
</div>