<div class="container">
    <div class="wrapper">

        <div class="headers">
            <h1 class="title">Latest Stock News</h1>

            <div class="dropdown">
                <button class="dropbtn">{{selectedCompany.name}} &dtrif;</button>
                <div class="dropdown-content">
                    <a *ngFor="let company of availableCompanies"
                        (click)="onCompanySelected(company)">{{company.name}}</a>
                </div>
            </div>
        </div>

        <div class="one-liner" *ngFor="let novation of getCurrentPageNews()">
            <ng-container *ngIf="novation.title !== '[Removed]'">
                <div class="extras">
                    <p class="publisher">{{novation.author}}</p>
                    <p class="time">{{novation?.publishedAt | date:'medium'}}</p>
                  </div>
                  <div class="novation">
                      <img *ngIf="novation.urlToImage" class="thumbnail"
                          src="{{novation.urlToImage}}" alt="thumbnail">
                      <p class="news-title">{{novation.title}}</p>
                  </div>
            </ng-container>
        </div>
        <div class="navigation-buttons">
            <button (click)="previousPage()" [disabled]="!hasPreviousPage()">Previous</button>
            <button (click)="nextPage()" [disabled]="!hasNextPage()">Next</button>
        </div>
    </div>
</div>