<div class="container-fluid" style="margin-top: 150px;">
  <div class="row" *ngIf="user">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img *ngIf="user?.photoUrl" src="{{user.photoUrl}}" alt="">
                <img *ngIf="!user?.photoUrl" src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div  class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div *ngIf="user?.id !== userJwt?.id" class="d-flex justify-content-between">
            <a class="btn btn-sm btn-info mr-4" style="color: white;">Follow</a>
            <a (click)="initiateChat()" class="btn btn-sm btn-default float-right" style="color: white;">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{user.numberOfFollowers}}</span>
                  <span class="description">Followers</span>
                </div>
                <div>
                  <span class="heading">{{user.numberOfFollowings}}</span>
                  <span class="description">Followings</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Requests</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{user.userName}}
            </h3>
            <p>Some descriptions here just for example and show the user its existense here</p>
            <a href="#">Show more</a>
          </div>
        </div>
      </div>

      <div class="conversations mt-4" *ngIf="user.id === userJwt!.id">
        <div class="card">
          <div class="card-header">
            <h5 class="h3 mb-0">Conversations</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list my--3">
              <li (click)="startChatting(message)" class="list-group-item px-0 conversation-unit"  *ngFor="let message of conversations" >
                <div class="row align-items-center d-flex" style="flex-direction: row;">
                  <div class="col-3">
                    <a href="#" class="avatar rounded-circle">
                      <img style="width: 48px; height: 48px!important;" alt="Image placeholder"
                        [src]="(message.senderId !== user!.id ? message.senderPhotoUrl : message.recipientPhotoUrl) || 'https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg'">
                    </a>
                  </div>
                  <div class="col-9">
                      <div class="row">
                          <div class="col-8">
                            <h4 class="mb-0">
                              <a style="color: rgb(94, 114, 228);">{{ message.senderId !== user!.id ? message.senderName : message.recipientName }}</a>
                            </h4>
                            <small *ngIf="message.senderId === user.id">You: </small>
                            <small>{{ message.content }}</small>
                          </div>
                          <div class="col-4">
                            <small>{{ message.dateSent | date: 'HH:mm' }}</small>
                          </div>
                      </div>
                  </div>
                </div>
              </li>
              </ul>
          </div>
      </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a routerLink="/home" class="btn btn-sm btn-primary">Update</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{user?.userName}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" value="{{user?.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group focused">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">Some descriptions here just for example</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="recipient && recipient.id !== userJwt?.id">
    <app-messages-thread [isVisible]="isChatVisible" [recipient]="recipient" (closeChat)="isChatVisible = false"></app-messages-thread>
  </ng-container>
</div>