<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="nav-area">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-brand" routerLink="/" style="cursor: pointer;">
          <img src="assets/imgs/logo.png" alt="logo" class="logo">
          AssetsNet
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-links">
          <a href="#" class="nav-link">Whatchlist</a>
          <a href="#" class="nav-link">Search</a>
          <a href="#" class="nav-link">Profile</a>
        </div>
        <div class="navigation-buttons">
          <button routerLink="/register">Register</button>
          <button routerLink="/login">Login</button>
        </div>
      </div>
    </div>
  </nav>
</header>