<div id = "container" [ngClass]="{sidebarActive:sidebarActive}">
  <div class = "sidebar">
    <div id = "menu">
      <a href = "#">Whatchlist</a>
      <a href = "#">Analysis</a>
      <a href = "#">Profile</a>
    </div>
  </div>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="nav-area">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarActive = !sidebarActive">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        <a class="nav-brand" routerLink="/" style="cursor: pointer;">
          <img src="assets/imgs/logo.png" alt="logo" class="logo">
          AssetsNet
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-links" *ngIf="(accountService.currentUser$ | async) !== null">
          <a routerLink="/home" class="nav-link">Whatchlist</a>
          <a routerLink="/analysis" class="nav-link">Analysis</a>
          <a routerLink="/users/{{(accountService.currentUser$ | async)?.id}}" class="nav-link">Profile</a>
        </div>
        <div class="navigation-buttons">
          <ng-container *ngIf="(accountService.currentUser$ | async) === null">
            <button routerLink="/register">Register</button>
            <button routerLink="/login">Login</button>
          </ng-container>
          <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
            <button (click)="logout()" routerLink="/login">Logout</button>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>
</header>
</div>