<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>


          <div class="panel-body p-3">
            <form>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input type="text" placeholder="Email" />
                </div>
              </div>

              <div class="form-group pt-4">
                <div class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input [type]="type" placeholder="Password">
                  <span (click)="PassToggle()" class="fa {{eyeIcon}}"></span>
                </div>
              </div>

              <div class="form-inline ">
                <a id="forgot" class="font-weight-bold">Forgot your password?</a>
              </div>


              <button type="submit" class="btn btn-primary btn-block mt-4 w-100 pt-2">Log In</button>
              <div class="text-center pt-2 text-muted">Dont have an account?" <a id="forgot" href="/signup">Sign Up</a></div>
            </form>
          </div>

          <div class="mx-3 py-2 bordert">
            <div class="text-center">
              <a><img src="https://www.blognone.com/sites/default/files/styles/large/public/topics-images/Gmail-logo_0.png?itok=21uZMHMN" width="80" height="80" /></a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  </div>
