.container {
  margin-top: 100px;
  padding-left: 100px;
  min-height: 300px;
  width: 400px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 5px;
  padding: 40px;
  align-items: center;
  border: 1px solid #ddd;
  color: black;
  text-align: left;
}

.restore-password-form {
  display: flex;
  flex-direction: column;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}


.input-field {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
}


input[type='email'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.btn {
  margin-top: 20px;
  border-radius: 15px;
  color: white;
  background-color: black;
}

.register {
  margin-top: 10px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}

.please {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
}

.is-invalid {
  border: 1px solid red;
}
