<div class="wrapper">
  <div class="container">
    <div class="title-place">
      <h2 class="title">Forgot your password?</h2>
      <p class="please"> Please enter your email link beneath for a password verification letter</p>
    </div>

    <div class="restore-password-form">
      <form [formGroup]="restorePasswordForm" (ngSubmit)="sendEmail()" autocomplete="off">
        <div class="input-field">
        <input formControlName="email" type="email" name="email" placeholder="Enter your email" required />
      </div>
      <button class="btn" type="submit">Send Email</button>
      </form>
      <div class="register">
        <p>Dont have an account? <a href="/register">Register now</a></p>
      </div>

    </div>

  </div>
</div>
