<div class="container">
	<div class="wrapper">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Symbol</th>
					<th>Price</th>
					<th>% Change</th>
					<th>Volume</th>
					<th>Makrket Cap</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let stock of stocks">
					<td class="star-col">
						<button class="star-button">
							<img src="assets/imgs/Star.png" class="star-png">
						</button>
					</td>
					<td>{{stock.symbol}}</td>
					<td>{{stock.close}}</td>
					<td [ngClass]="getChangePercentClass(stock)">{{+stock.percentChange}}%</td>
					<td>{{stock.volume}}B</td>
					<td>{{stock.averageVolume}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>