<div class="container">
	<div class="wrapper">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Symbol</th>
					<th>Price</th>
					<th>% Change</th>
					<th>Volume</th>
					<th>Market Cap</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let stock of stocks">
					<td class="star-col">
						<button class="star-button" (click)="toggleStar(stock)">
							<img [src]="stock.starred ? 'assets/imgs/Star.png' : 'assets/imgs/Star_clicked.png'"
								class="star-png">
						</button>
					</td>
					<td>{{stock.symbol}}</td>
					<td>{{stock.close}}</td>
					<td [ngClass]="getChangePercentClass(stock)">{{+stock.percentChange | number:'1.2-2'}}%</td>
					<td>{{stock.volume | number:'1.2-2'}}B</td>
					<td>{{stock.averageVolume | number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>