.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.wrapper {
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 100%;
	max-width: 800px;
	margin: 20px;
}

th {
	color: gray;
}

.star-col {
	width: 10%;
}

.star-button {
	background-color: transparent;
	border: none;
}

.star-png {
	width: 20px;
}

.up {
	color: green;
}

.down {
	color: red;
}