<section class="avenue-messenger" *ngIf="isVisible">
    <div class="menu">
        <div class="items"><span>
                <a href="#" title="Minimize">&mdash;</a><br>
                <a href="#" title="End Chat">&#10005;</a>
            </span></div>
        <div (click)="toggleVisibility()" class="button">X</div>
    </div>
    <div class="agent-face">
        <div class="half">
            <img *ngIf="recipient?.photoUrl" class="agent circle" src="{{recipient?.photoUrl}}" alt="Jesse Tino">
            <img *ngIf="!recipient?.photoUrl" class="agent circle" src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="Jesse Tino">
        </div>
    </div>
    <div class="chat">
        <div class="chat-title">
            <h1>{{recipient?.userName}}</h1>
            <h2>Private Chat</h2>
        </div>

        <div #messagesContainer class="messages">
            <div class="messages-content">
                <ng-container *ngFor="let message of (messagesService.messageSource$ | async)">
                    <ng-container *ngIf="message.senderId === userJwt?.id">
                        <div class="message new mb-2 message-personal me-1">
                            <figure class="avatar" *ngIf="message.recipientPhotoUrl && message.senderId === userJwt?.id">
                                <img src="{{message.recipientPhotoUrl}}"></figure>
                            {{message.content}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="message.senderId !== userJwt?.id">
                        <div class="message new mb-2" >
                            <figure class="avatar" *ngIf="message.recipientPhotoUrl && message.senderId !== userJwt?.id">
                                <img src="{{message.recipientPhotoUrl}}"></figure>
                            {{message.content}}
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="message-box mt-1">
            <textarea type="text" class="message-input" placeholder="Type message..."
                [(ngModel)]="messageToSend.content"></textarea>
            <button [disabled]="!messageToSend.content" type="submit" class="message-submit" (click)="sendMessage()">Send</button>
        </div>
    </div>
</section>