<!--
Inspired by https://dribbble.com/supahfunk
-->
<section class="avenue-messenger">
    <div class="menu">
        <div class="items"><span>
                <a href="#" title="Minimize">&mdash;</a><br>
                <!--     
       <a href="">enter email</a><br>
       <a href="">email transcript</a><br>-->
                <a href="#" title="End Chat">&#10005;</a>

            </span></div>
        <div class="button">...</div>
    </div>
    <div class="agent-face">
        <div class="half">
            <img class="agent circle" src="http://askavenue.com/img/17.jpg" alt="Jesse Tino">
        </div>
    </div>
    <div class="chat">
        <div class="chat-title">
            <h1>Jesse Tino</h1>
            <h2>RE/MAX</h2>
        </div>

        <div class="messages">
            <div class="messages-content">
                <ng-container *ngFor="let message of (messagesService.messageSource$ | async)">
                    <div class="message new" [ngClass]="{'message-personal': message.senderId == userJwt?.id}">
                        {{message.content}}<div class="timestamp">{{message.messageSend | date}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="message-box mt-3">
            <textarea type="text" class="message-input" placeholder="Type message..."
                [(ngModel)]="messageToSend.content"></textarea>
            <button type="submit" class="message-submit" (click)="sendMessage()">Send</button>
        </div>
    </div>
</section>