<div class="wrapper">
    <div class="search">
        <input class="input-field" type="text" placeholder="Enter username">
    </div>
    <div class="users-list mt-4">
        <div class="no-followers" *ngIf="followers.length === 0">
            <h3>No followers</h3>
        </div>
        <div class="user mt-3" *ngFor="let follower of followers">
            <div class="user-wrapper">
                <div class="creds-wrapper">
                    <img class="profile-photo" *ngIf="!follower.photoUrl" width="40" height="40"
                        src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg"
                        alt="profile-picture">
                    <img class="profile-photo" *ngIf="follower.photoUrl" width="40" height="40"
                        src="{{follower.photoUrl}}" alt="profile-picture">
                        <a style="text-decoration: none;" href="users/{{follower.id}}"><span class="username ms-1">{{ truncate(follower.userName, 10) }}</span></a>
                        </div>
                        <div class="action-buttons">
                            <button (click)="followUser()"
                                *ngIf="!(usersService.followedUsernames$ | async)?.includes( follower.userName); else unfollowButton">Follow</button>
                              <ng-template #unfollowButton><button>Unfollow</button></ng-template>
                        </div>
            </div>
        </div>
    </div>
</div>