<div class="wrapper">
    <div class="search">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Enter username" ico>
    </div>
    <div class="users-list">
        <div class="user mt-3">
            <div class="user-wrapper">
                <div class="creds-wrapper">
                    <img width="40" height="40"
                        src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg"
                        alt="profile-picture">
                    <span class="username">Tim Cook</span>
                </div>
                <div class="action-buttons">
                    <button>Unfollow</button>
                </div>
            </div>
        </div>
    </div>
</div>