<div class="wrapper">
    <div class="search">
        <input class="input-field" type="text" placeholder="Enter username">
    </div>
    <div class="users-list mt-4">
        <div class="no-followers" *ngIf="followers.length === 0">
            <h3>No followers</h3>
        </div>
        <div class="user mt-3" *ngFor="let follower of followers">
            <div class="user-wrapper">
                <div class="creds-wrapper">
                    <img class="profile-photo" *ngIf="!follower.photoUrl" width="40" height="40"
                        src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg"
                        alt="profile-picture">
                    <img class="profile-photo" *ngIf="follower.photoUrl" width="40" height="40"
                        src="{{follower.photoUrl}}" alt="profile-picture">
                    <span class="username ms-1">{{follower.userName}}</span>
                </div>
                <div class="action-buttons">
                    <a href="/users/{{follower.id}}"><button>Profile</button></a>
                </div>
            </div>
        </div>
    </div>
</div>