
<div class="container">
	<div class="ticker-conteiner">
		<app-stock-ticker></app-stock-ticker>
	</div>
	<div *ngIf="screenWidth >= 992">
		<div class="row">
			<div class="col-4">
				<app-social-media-posts></app-social-media-posts>
			</div>
			<div class="col-8 news-container">
				<app-latest-news></app-latest-news>
				<app-stocks-table></app-stocks-table>
			</div>
		</div>
	</div>
	<div *ngIf="screenWidth < 992">
		<div class="row">
			<div class="col">
				<app-latest-news></app-latest-news>
				<app-social-media-posts></app-social-media-posts>
				<app-stocks-table></app-stocks-table>
			</div>
		</div>
	</div>
</div>
