<div class="container">
	<div class="wrapper">
		<h1 class="title">Twitter Posts <span *ngIf="isOutOfRequest">Out of requests. Update tarrif</span></h1>
		<div class="post" *ngFor="let post of getCurrentTwitterPosts()">
			<p class="publisher">Stocktwits</p>
			<div class="content">{{post.title}}</div>
		</div>
		<div class="navigation-buttons">
			<button (click)="previousPage()" [disabled]="!hasPreviousPage()">Previous</button>
			<button (click)="nextPage()" [disabled]="!hasNextPage()">Next</button>
		</div>
	</div>
</div>